{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Header -->
<header id="top" class="header">
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-6 text-center">
                <h1 id="header_title">Patri & Quique</h1>
                <h3 id="header_subtitle">12 de Noviembre de 2016</h3>
                <br>
                <a href="#about" class="btn btn-dark btn-lg">Encuenta más info</a>
            </div>
        </div>
    </div>
</header>

<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 text-center">
                <blockquote>
                    <p>
                    Estoy convencida de que los mejores momentos llegan sin hacer tanto plan, y de que las buenas
                    personas aparecen en tu vida de manera casual y espontánea, creo en las coincidencias, porque entre
                    ellas te encontré a ti...
                    </p>
                </blockquote>
            </div>
            <div class="col-lg-2"></div>
        </div>

        <br>


        <div class="row">
            <div class="col-lg-2"></div>

            <div class="col-lg-8 text-center">
                <p style="font-size: 22px;">
                    Nos encantaría que puedieras asistir a nuestra boda. Te consideramos una persona muy especial y
                    queremos que estés con nosotros en este momento.
                </p>
            </div>

            <div class="col-lg-2"></div>
        </div>

        <div class="row">
            <div class="col-lg-2"></div>

            <div class="col-lg-8 text-center">
                <a href="#" class="btn btn-lg btn-dark" data-toggle="modal" data-target="#confirmModal">
                    <strong>Confirma tu asistencia</strong>
                </a>
            </div>

            <div class="col-lg-2"></div>
        </div>

    </div>
</section>

<!-- Confirmar Asistencia -->
<form action="/" method="POST">
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title" id="myModalLabel">Confirma tu asistencia</h4>
            </div>
            <div class="modal-body">
                {% crispy form %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Confirmar</button>
        </div>
    </div>
  </div>
</div>
</form>

<section id="services" class="services main-color">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12 col-lg-offset-1">
                <div class="row">

                    <div class="col-md-2 col-sm-7">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x fa-bg"></i>
                            <i class="fa fa-heart fa-stack-1x fa-color"></i>
                            </span>
                            <h4>
                                <a href="#la-ceremonia"><strong>La Ceremonia</strong></a>
                            </h4>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-7">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x fa-bg"></i>
                            <i class="fa fa-cutlery fa-stack-1x fa-color"></i>
                            </span>
                            <h4>
                                <a href="#el-banquete"><strong>El Banquete</strong></a>
                            </h4>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-7">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x fa-bg"></i>
                            <i class="fa fa-music fa-stack-1x fa-color"></i>
                            </span>
                            <h4>
                                <a href="#la-fiesta"><strong>La Fiesta</strong></a>
                            </h4>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-7">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x fa-bg"></i>
                            <i class="fa fa-taxi fa-stack-1x fa-color"></i>
                            </span>
                            <h4>
                                <a href="#el-transporte"><strong>El Transporte</strong></a>
                            </h4>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-7">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x fa-bg"></i>
                            <i class="fa fa-camera fa-stack-1x fa-color"></i>
                            </span>
                            <h4>
                                <a href="/gallery"><strong>Galería de Fotos</strong></a>
                            </h4>
                        </div>
                    </div>

                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<div id="la-ceremonia"></div>
<aside class="ceremonia">
    <div class="text-vertical-center">
        <h1>La Ceremonia</h1>
    </div>
</aside>

<section id="la-ceremonia-nothing">
    <div class="jumbotron">
    <div class="container" >
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <p style="font-size: 22px;">
                    El día comenzará con la celebración de la ceremonia en el anfiteatro de
                    <strong>Ses Cases de Sa Font Seca</strong> a las <strong>12:30</strong> de la mañana.
                    ¡Sed puntuales!
                </p>
                <p style="font-size: 22px">
                    Después de la ceremonia, cuando hayamos salido del anfiteatro, encontraréis una caja llena de confeti
                    que podréis emplear para tirarnos.
                </p>
            </div>
        </div>
    </div>
    </div>
</section>

<div id="el-banquete"></div>
<aside class="banquete">
    <div class="text-vertical-center">
        <h1>El Banquete</h1>
    </div>
</aside>

<section id="el-banquete-nothing">
    <div class="jumbotron">
    <div class="container" >
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <p style="font-size: 22px;">
                    Junto a la pequeña fuente de la entrada tendrá lugar un aperitivo para ir entrando en hambre.
                    También habrá algo de bebida, no queremos que nadie pase sed o tenga el vaso vacio.
                </p>
                <p style="font-size: 22px;">
                    La comida se hará en el salón principal de la finca. Podréis encontrar donde sentaros en algún lugar
                    donde habéis tomado el aperitivo.
                </p>
            </div>
        </div>
    </div>
    </div>
</section>

<div id="la-fiesta"></div>
<aside class="fiesta">
    <div class="text-vertical-center">
        <h1>La Fiesta</h1>
    </div>
</aside>

<section id="la-fiesta-nothing">
    <div class="jumbotron">
    <div class="container" >
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <p style="font-size: 22px;">
                    La fiesta y la barra libre se harán en el mismo sitio que el banquete. Ahora es el momento de darlo
                    bailando y bebiendo las horas que quedan. ¡A disfrutar!
                </p>
            </div>
        </div>
    </div>
    </div>
</section>

<div id="el-transporte"></div>
<aside class="transporte">
    <div class="text-vertical-center">
        <h1>El Transporte</h1>
    </div>
</aside>

<section id="el-transporte-nothing">
    <div class="jumbotron">
    <div class="container" >
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <p style="font-size: 22px;">
                    Proximamente más información :)
                </p>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- Map -->
<section id="contact" class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2582.5463949245222!2d2.664771026892261!3d39.66810804044557!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1297ec50d2281bdd%3A0xa2e6f3de15834482!2sSes+Cases+De+Sa+Font+Seca!5e0!3m2!1ses!2ses!4v1460907371996" width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    <br />
</section>

{% endblock %}

