brotlipy==0.5.1
cffi==1.7.0
cloudinary==1.4.0
Django==1.9.5
django-crispy-forms==1.6.0
django-redis-cache==1.7.0
enum34==1.1.6
gunicorn==19.6.0
hiredis==0.2.0
Pillow==3.2.0
psycopg2==2.6.2
pycparser==2.14
python-decouple==3.0
redis==2.10.5
virtualenv==15.0.3
whitenoise==3.2.1
